/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #696969;
  color: white;
}

h1 {
  font-style: garamond, sans-serif;
  color: white
  margin-right: 50px;
}
p {
  margin: 0px 0px 25px 0px;
}

button {
  padding: 10px;
  border-radius: 10px
}
#gameButtonArea > button {
  width:200px;
  height:200px;
  margin: 20px 0px 10px 30px;
}
#button1 {
    background: lightgreen;
}
#button1:active, #button1.lit{
  background:green;
}
#button2 {
    background: lightblue;
}
#button2:active, #button2.lit{
  background:blue;
}
#button3 {
    background: pink;
}
#button3:active, #button3.lit{
  background:red;
}
#button4 {
    background: lightyellow
}
#button4:active, #button4.lit{
  background:yellow;
}
#button5 {
    background: mediumpurple
}
#button5:active, #button5.lit{
  background:purple;
}
#button6 {
    background: peachpuff
}
#button6:active, #button6.lit{
  background:peru;
}
.hidden {
  display: none;
}